<form novalidate name="registerForm">
    <h1>Sign Up</h1>
    <p>FirstName: <input type = "text" ng-model = "firstName"></p>
    <p>LastName: <input type = "text" ng-model = "lastName"></p>
    <p>Email: <input type = "email" ng-model = "email"></p>

    <p>Password: <input type = "Password" ng-model = "password" name="password" required ng-minlength="6"></p>
    <span style="color:red" ng-show="registerForm.password.$dirty && registerForm.password.$invalid" >
        <span ng-show="registerForm.password.$error.required">Password is required</span>
        <span ng-show="registerForm.password.$error.minlength">Password is short, min length is 6
                characters.</span>
</span> 

    <p>Confirm Password: <input type = "Password" ng-model = "confirm" name="confirm" ng-pattern="password" required></p>
    <span style="color:red" ng-show="registerForm.confirm.$dirty && registerForm.confirm.$invalid">
        <span ng-show="registerForm.confirm.$error.required">Confirm Password is required</span>
        <span ng-show="registerForm.confirm.$error.pattern">Password mismatch</span>
</span> 

    <br><button type = "button" ng-click="register()" ng-disabled="(registerForm.password.$invalid)||( registerForm.confirm.$invalid)">Register</button>
    </form>